<% for(var i = 0; i < products.length; i++) { %>
<tr>
  <td><%= i + 1 %></td>
  <td><%= products[i].pname %></td>
  <td><%= products[i].price %></td>
  <td><%= products[i].quantity %></td>
  <td><%= products[i].date %></td>
  <td><%= products[i].sale %></td>
  <td>
    <a href="/api/update_product?id=<%= products[i]._id%>" class="btn update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn delete" data-id="<%=products[i]._id%>">
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>
<% } %>
<!-- <tr>
  <td>id</td>
  <td>name</td>
  <td>price</td>
  <td>quantity</td>
  <td>date</td>
  <td>sale</td>
  <td>
    <a href="/update_product" class="btn update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn delete">
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr> -->
